:root {
    --primary-color: #8CFDA1;
    --secondary-color: #047C82;
    --accent1-color: #E0616A;
    --accent2-color: #6ACBE6;
    --font-primary: 'Oswald', normal;
    --font-secondary: 'Karla', normal;
    --font-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    max-width: 1850px;
    margin: 1rem auto;
    height: 175px;
    background-color: var(--accent1-color);
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
    padding: 0;
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-family: var(--font-secondary)
}

header img {
    width: 150px;
    height: auto;
    justify-self: center;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--accent2-color);
    font-family: var(--font-primary);
    padding: 1rem;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.8rem;
}

p {
    font-family: var(--font-secondary);
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 10px;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

a :visited {
    text-decoration: none;
}

main {
    max-width: 1850px;
    margin: 1rem auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    display: flex;
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 10px;
    color: var(--font-color);
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

}

.hero img {
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    background-color: var(--secondary-color);
    margin-top: 2rem;
    border-radius: 10px;
    color: var(--font-color);
    z-index: 1;
}

.hero article {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-self: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    z-index: 1;
}

.hero p {
    color: var(--font-color);
    font-size: 1.2rem;
    padding: 2rem;
}

.hero article img {
    width: 250px;
    height: auto;
    border: 0.5rem solid var(--secondary-color);
    border-radius: 5px;
    float: right;
    /* Float the image to the right */
    margin-left: 2px;
    /* Adds space between the image and the text */
    margin-top: -10px;
    z-index: 2;
    /* Ensure the image overlaps the section background */
}

.icons {
    width: 50px;
    height: 50px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

}

.history h2 {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.history img {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    border-radius: 10px;
}

.first {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
}

.second {
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
}


.pictures {
    display: grid;
    width: 100%;
    margin: 1rem auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.pictures h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.pictures figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 400px;
    margin: auto;
}

.pictures img {
    max-width: 100%;
    height: auto;
}

figcaption {
    background-color: var(--accent1-color);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border-radius: 20px;
}

.r1 {
    grid-column: 1;

}

.r2 {
    grid-column: 2;

}

.r3 {
    grid-column: 3;

}

.r4 {
    grid-column: 4;

}

.r5 {
    grid-column: 5;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sociallinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.icons {
    width: 30px;
    height: 30px;
}

.employees, .company-info, .user-forms{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.employees{
    display: grid;
    grid-template-rows: 2;
}

.background-container{
    display: grid;
    width: 100%;
}

.background-container{
    width: 100%;
    margin-bottom: 10rem;
}

.background-container img{
    width: 100%;
}

.emp-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    gap: 100px;
    width: 100%;
    position: absolute;
    bottom:  -400px;
}

.emp-container img{
    width: 500px;
    height: 350px;
    background-color: var(--accent1-color);
    padding: 15px;
    border-radius: 20px;
}

.company-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2rem;
    gap: 3rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    height: 450px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.info h1{
    color: white;
}

.info h2 {
    margin-bottom: 20px; 
    font-weight: 400;
    color: white;
}

.info ul{
    list-style: none;
    padding-left: 0; 
    color: white;
    font-family: var(--font-secondary);
    margin-top: 20px; 
}

.info li{
    margin-bottom: 30px;
}

.map{
    border: 0;
    width: 500px;
    height: 450px;
    border-radius: 10px;
}

fieldset{
    height: 400px;
}

legend{
    margin-left: 20px;
    padding: 20px;
    font-family: var(--font-secondary);
    font-size: 0.8rem;
}

.input-container{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-container label{
    margin-left: 320px;
    font-family: var(--font-secondary);
}

.input-container input{
    margin-right: 320px;
    border: 2px solid grey;
    padding: 5px;
    font-family: var(--font-secondary);
}



.radio-labels-container{
    font-family: var(--font-secondary);
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.radio-labels-container input{
    margin-left: 350px;
}

.textbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 50px;
    justify-content: space-between;
}


