:root {
    --text-color: #333;
    --white: #eee;
    --border: 1px solid rgb(0 0 0 / 0.2);
    --darkblue: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 840px;
}

a {
    text-decoration: none;
}

a::before {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 100px;
    color: rgb(74, 74, 74);
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: var(--darkblue);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--darkblue);
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 1rem;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1.5rem;
    background-color: var(--darkblue);
    color: var(--text-color);
}

.box img {
    width: 250px;
    height: auto;
}